@mixin border-body {
  border: black solid 1px;
  border-radius: 0 0 10px 10px;
}

@mixin border-footer-button {
  -webkit-box-shadow: -5px 4px 0px -1px rgba(0, 0, 0, 4.75);
  -moz-box-shadow: -5px 4px 0px -1px rgba(0, 0, 0, 4.75);
  box-shadow: -5px 4px 0px -1px rgba(0, 0, 0, 4.75);
}

$header-height: 10%;
$footer-height: 20%;
$body-height: 100% - $header-height - $footer-height;

$primary-color: #ee2d25;


.pokedex {
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: auto;

  &__header {
    background: $primary-color;
    height: $header-height;
    display: flex;
  }


  &__light-small-container {
    display: flex;
  }

  &__light-big-container {

  }

  &__light {
    border-radius: 50%;
    border: black solid 1px;

    &--big {
      @extend .pokedex__light;
      height: 70px;
      width: 70px;
      border: white solid 3px;
      box-shadow: inset -19px -14px 17px -12px rgba(255, 255, 255, 0.75);
    }

    &--small {
      @extend .pokedex__light;
      height: 13px;
      width: 13px;
      box-shadow: inset -12px -12px 4px -12px rgba(255, 255, 255, 0.75);
    }

    &--green {
      @extend .pokedex__light;
      background: green;
    }

    &--lightblue {
      @extend .pokedex__light;
      background: #6ccde9;
    }

    &--red {
      @extend .pokedex__light;
      background: red;
    }

    &--yellow {
      @extend .pokedex__light;
      background: yellow;
    }

  }


  &__body {
    background: #d3d9e3;
    height: $body-height;
    display: flex;
    //box-sizing: border-box;
  }

  &__inner-body {
    width: 96%;
    height: 96%;
    max-height: 96%;
    overflow: auto;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background: #FFFF;
  }


  &__footer {
    background-color: $primary-color;
    height: $footer-height;
    text-align: center;
  }

  &__circle-button {
    width: 50px;
    height: 50px;
    background-color: #1f1a1a;
    margin: auto;
    border-radius: 50%;
    @include border-footer-button;
  }

  @media (max-width: 600px) {
    .pokbuttons {
      width: 60px;
    }
  }

}
