<div class="pokedex">
  <div class="pokedex__header">

    <div class="pokedex__light-big-container">
      <div class="pokedex__light--big pokedex__light--lightblue"></div>
    </div>

    <div class="pokedex__light-small-container">
      <div class="pokedex__light--small pokedex__light--red"></div>
      <div class="pokedex__light--small pokedex__light--yellow"></div>
      <div class="pokedex__light--small pokedex__light--green"></div>
    </div>

  </div>
  <div class="pokedex__body">
    <div class="pokedex__inner-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="pokedex__footer">

  </div>
</div>
