<div class="pokedex">
  <div class="pokedex__header">

    <div class="pokedex__light-big-container">
      <div class="pokedex__light--big pokedex__light--blue"></div>
    </div>

    <div class="pokedex__light-small-container">
      <div class="pokedex__light--small pokedex__light--red"></div>
      <div class="pokedex__light--small pokedex__light--yellow"></div>
      <div class="pokedex__light--small pokedex__light--green"></div>
    </div>

  </div>
  <div class="pokedex__body">
    <div class="pokedex__body-content">

    </div>
  </div>
</div>
